```zsh
> Miez
```

<img align="left" src="https://i.pinimg.com/564x/6c/17/94/6c17941478a91814014465d8a5318cc6.jpg" alt="alamak" width="320" /> 

```csharp
miezlearning@github
-------------------------
OS: Arch Linux x86_64
Shell: zsh 5.8
Pronouns: He/Him
Location: Indonesia
Frameworks: React
Languages: JavaScript, TypeScript,
           HTML, CSS, Python, Java, C++
Learning: Node.js, Express, PostgreSQL,
          Three.js, C++
Hobbies: Cooking, Gaming, Football, Basketball
Commits: {{ totalCommits }} ({{ totalCommitsInPastYear }} past year)
Stars: {{ totalStars }} | Repos: {{ totalRepos }}
Discord: miezlipp
```

<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <img src="./palette.svg" height="20" alt="Terminal Palette" />
</p>

<br clear="both"/>

<div align="center">
  <br />
  <a href="https://github.com/{{ githubUsername }}">
    <img src="https://streak-stats.demolab.com/?user={{ githubUsername }}&background=181a1b&border=2c3435&stroke=8a3d36&ring=8a3d36&fire=8a3d36&currStreakNum=e4e1db&sideNums=e4e1db&currStreakLabel=b8a798&sideLabels=b8a798&dates=6b7c7a" alt="GitHub Streak Stats" />
  </a>
</div>
